<app-tittle [tittle]="tittle" [description]="description"></app-tittle>

<div id="D_supply">  

<select name="" id="D_sel">
    <option value="">Type</option>
    <option value="P_command">Personal Command</option>
    <option value="G_command">Grouped Command</option>

</select>
<select name="" id="D_sel">
    <option value="">Supplier</option>
    <option value="CENAME">CENAME</option>
    <option value="CAPR">CAPR</option>
    <option value="FBO">FBO</option>
    <option value="EUROPIEN ">EUROPEAN SUPPLIER</option>
    <option value="DOUALA ">DOUALA SUPPLIER</option>
</select>
</div>

<hr>
<div>
    <div id="hi"></div>
</div>
