<app-tittle [tittle]="tittle"></app-tittle>

<div>  

<select name="" id="D_sel">
    <option value="">Supplier</option>
    <option value="CENAME">CENAME</option>
    <option value="CAPR">CAPR</option>
    <option value="FBO">FBO</option>
    <option value="EUROPIEN ">EUROPEAN SUPPLIER</option>
    <option value="DOUALA ">DOUALA SUPPLIER</option>
</select>
</div>

<hr>
<div>
    <div id="hi"></div>
</div>
<datalist id="suppliers">
    <option value="CENAME">
    <option value="CAPR">
    <option value="FBO">
    <option value="European Supplier">
    <option value="Douala Supplier">