#D_select-sup{
    margin-left: 50px;
    margin-top: 80px;
    text-align: center;
}
hr{
    margin-top: 40px;
    border-color: rgb(64, 128, 235);
}
#D_sel{
    width: 120px;
    margin-left: 50px;
    margin-top: 50px;
}
