table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
   
}
#D_table_-div{
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 5%;
    height: fit-content;
    width: fit-content;
     
 
}
h1{
    font-weight: bolder;
    font-size: 30px;
    
}
#D_name-div{
margin-left:3%;
}
