#D_Trans-div{
    display: flex;
}
%box{
    height: 250px;
    width: 330px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: 65px;
    margin-top: 40px;
    %inbox{
        height: 40px;
        width: 90px;
        margin-top:88px;
        padding-left: 240px;
    }
}
%text{
    margin-top: 90px;
    margin-left: 80px;
    font-size: 37px;
}
#D_square{
    @extend %box;
     border-color: rgb(64, 128, 235);
     background-color: white;
  }
  #D_internal-square{
     @extend%inbox;
      background-color: rgb(64, 128, 235);
      border-color:rgb(64, 128, 235) ;

  
  }
  a{
    text-decoration: none;
   
  }
  .D_h1-trans{
   @extend%text;
   color: blue;
   text-shadow: 0px 0px 3px rgb(64, 128, 235);

  }
