  <div id="logo-div">

    <img src="../../assets/images/pharmablock.jpg" alt="logo" id="logo">
   
  </div><br>
  
     <mat-nav-list>
     <a mat-list-item routerLink="dashboard" routerLinkActive="active-a">
      <mat-icon>dashboard</mat-icon>  Dashbord </a>
     <a mat-list-item routerLink="stock" routerLinkActive="active-a">
      <mat-icon>storage</mat-icon>  Stock </a>
     <a mat-list-item routerLink="sales" routerLinkActive="active-a">
      <mat-icon>library_books</mat-icon>  Sales </a>
    
    <a mat-list-item routerLink="exchange" routerLinkActive="active-a">
     <mat-icon>swap_vertical_circle</mat-icon>  Exchange </a>
    <a mat-list-item routerLink="help" routerLinkActive="active-a">
     <mat-icon>question_mark</mat-icon> Help</a>
    
     </mat-nav-list>

 