<app-tittle [tittle]="tittle" [description]="description"></app-tittle>
<div id="D_dash-div">
    <a href=""><div id="D_square"> 
        <h2 class="D_h3-dash"> <mat-icon id="arrow">arrow_downward</mat-icon> Incoming orders</h2>
        <p class="D_p-dash">10.0</p>
    <div id="D_internal-square"> </div> </div></a>
    <a href=""><div id="D_square1"> 
        <h2 class="D_h3-dash"> <mat-icon>medical_services</mat-icon> Available products</h2>
        <p class="D_p-dash">10.0</p>
    <div id="D_internal-square1"> </div> </div></a>
    <a href=""><div id="D_square3"> 
        <h2 class="D_h3-dash"> <mat-icon id="report">bar_chart</mat-icon> Report</h2>
        <p class="D_p-dash"> +20.0% </p>
    <div id="D_internal-square3"> </div> </div></a>
    <a href=""><div id="D_square2"> 
        <h2 class="D_h3-dash"> <mat-icon id="warn">warning</mat-icon> Expired product</h2>
        <p class="D_p-dash"> 1.0</p>
    <div id="D_internal-square2"> </div> </div></a>
</div>
<div id="D_table-section">
    <div id="D_first-row">
        <div id="D_table-div1"><div class="D_in-head"><h1>Total Supply <span><a href="">see more >>>></a></span></h1> </div>
        <div class="D_info">
        <div class="D_left"><h3>suppliers: </h3> <p>2</p></div>
        <div class="D_right"><h3>Total supply: </h3> <p>20</p></div>  
    </div>
    
    </div>
        <div id="D_table-div2"><div class="D_in-head"><h1>Total Commands <span><a href="">see more >>>></a></span></h1></div>
        <div class="D_info">
            <div class="D_left"><h3>Today's commands: </h3> <p>1</p></div>
            <div class="D_right"><h3>Total items: </h3> <p>17</p></div>  
        </div>
    </div>
    </div>
   <div id="D_second-row">
        <div id="D_table-div3"> <div class="D_in-head"><h1>Total number of Customers <span><a href="">see more >>>></a></span></h1></div>
        <div class="D_info">
            <div class="D_left"><h3>Today's Customers: </h3> <p>5</p></div>
            <div class="D_right"><h3>Complete supplies: </h3> <p>3</p></div>  
        </div>
    </div>
        <div id="D_table-div4"> <div class="D_in-head"><h1>Products and categories <span><a href="">see more >>>></a></span></h1></div> 
        <div class="D_info">
            <div class="D_left"><h3>Categories: </h3> <p>2</p></div>
            <div class="D_right"><h3>Total stock: </h3> <p>100</p></div>  
        </div>
    </div>
   </div>
    
</div>

