<app-tittle [tittle]="tittle"></app-tittle>
<div id="D_dash-div">
    <a href=""><div id="D_square"> 
        <h2 class="D_h3-dash">Incoming orders:</h2>
        <p class="D_p-dash"> 10</p>
    <div id="D_internal-square"> </div> </div></a>
    <a href=""><div id="D_square1"> 
        <h2 class="D_h3-dash">Available products:</h2>
        <p class="D_p-dash"> 10</p>
    <div id="D_internal-square1"> </div> </div></a>
    <a href=""><div id="D_square3"> 
        <h2 class="D_h3-dash">Report</h2>
        <p class="D_p-dash"> +20% </p>
    <div id="D_internal-square3"> </div> </div></a>
    <a href=""><div id="D_square2"> 
        <h2 class="D_h3-dash">Expired product</h2>
        <p class="D_p-dash"> 1</p>
    <div id="D_internal-square2"> </div> </div></a>
</div>
<div id="D_table-section">
    <div id="D_first-row">
        <div id="D_table-div1"><div class="D_in-head"></div> </div>
        <div id="D_table-div2"><div class="D_in-head"></div></div>
    </div>
   <div id="D_second-row">
        <div id="D_table-div3"> <div class="D_in-head"></div> </div>
        <div id="D_table-div4"> <div class="D_in-head"></div> </div>
   </div>
    
</div>

