<app-tittle [tittle]="tittle" [description]="description"></app-tittle>
<div id="D_table_-div">
    <table>
        <tr>
        <th>Customer</th>
        <th>Transaction ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
        <th>Sale date</th>
        <th>Retrieval date</th>
        <th>Action</th>
    </tr>
    <tr id="" *ngFor="let drug of druglist">
        <td>{{drug.C_name}}</td>
        <td>{{drug.Transaction_id}}</td>
        <td>{{drug.image}}</td>
        <td>{{drug.product_name}}</td>
        <td>{{drug.product_price}}</td>
        <td>{{drug.Quantity}}</td>
        <td>{{drug.sale_date|date:'MMM/dd/yyyy. h:mm:ss'}}</td>
        <td>{{drug.retrieval_date|date:'MMM/dd/yyyy. h:mm:ss'}}</td>
        <td > 
            <div id="D_button">
            <button mat-icon-button (click)="openPopup()" ><mat-icon id="print"> print</mat-icon></button>
            <button mat-icon-button><mat-icon id="delete">delete</mat-icon></button>
         </div>
        </td>

    </tr>
    </table>
</div>