:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-sidenav{
    width: 15%;
    background: rgb(64, 128, 235);
}
mat-sidenav-container{
    height: 100%;
}
#router-out{
    margin-top: 1em;
}

