<app-tittle [tittle]="tittle"></app-tittle>

<table id="D_order-tab">
    <thead>
        <tr>
        <th>Customer name</th>
        <th> Date of command </th>
        <th> Time of command</th>
        <th> Product commanded</th>
        <th>Payment status</th>
        <th>Delivery date</th>
        <th>Delivery time</th>
        <th>Delivery status</th>
        <th>option</th>
    </tr>
    </thead>
    <tbody>
        <tr id="tr">
            <td>DOBGIMA DARRYL WOBA</td>
            <td>10/10/2025    </td>
            <td>15:40</td>
            <td>Paracettamol</td>
            <td>Paid</td>
            <td>10/10/2025</td>
            <td>16:20</td>
            <td>delivered</td>
            <td><a href="receipt">print receipt</a></td>
        </tr>
        <tr id="tr">
            <td>LEKEAKA NJINKEN</td>
            <td>10/10/2025 </td>
            <td>15:40</td>
            <td>Paracettamol</td>
            <td>Paid</td>
            <td>10/10/2025</td>
            <td>-</td>
            <td>pending</td>
            <td>-</td>
        </tr>
    </tbody>
</table>