#D_close{
    float: right;
}
#D_content-div{
    margin-left: 50em;
}
p{
 text-align: center; 
}
#D_des{
width: 3%;
height: 4%;
}
h1{
    text-align: center;
}
mat-form-field{
    display: block !important;
    text-align: left;
    position: relative;

    
}
#D_img{
    margin-left:3%;
}

